/****
Initiallizing some formats for tags
****/
*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

body{
    background: #f2f2f2;
}


/* Main Body*/
/*****************************
Header Section
*****************************/
header{
    background: rgb(63,63,63);
    height: 60px;
    width: 100%;
    box-shadow: 0 0 5px rgb(63,63,63);
}

.header{
    width: 700px;
    height: 60px;
}

.header p{
    font-size: 24px;
    line-height: 60px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 16px;
}

.overview{
    width: 1472px;
    height: 150px;
    margin: 16px auto;
}

.overview .description{
    width: 500px;
    height: 150px;
    background: rgb(221,72,58);
    float: left;
    // margin-left: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(221,72,58);
}

.overview .description .title{
    font-size: 20px;
    font-weight: bold;
    // margin-left: 0.625rem;
    color: #ffffff;
    margin: 8px 0 0 8px;
}

.overview .description p{
    margin-left: 24px;
}

.overview .sub-overview-1{
    width: 304px;
    height: 150px;
    background: rgb(26,188,156);
    float: left;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(26,188,156);
}

.overview .sub-overview-1 p{
    font-size: 20px;
    color: #ffffff;
    font-weight: bolder;
    margin: 8px 0 0 8px;
}

.general{
    float: left;
    margin-top: 24px;
    margin-left: 24px;
    font-size: 38px;
}


.overview .sub-overview-1 .img-content{
    text-align: right;
    padding-top: 32px;
}

.overview .sub-overview-1 img{
    width: 100px;
    height: 100px;
}

.overview .sub-overview-2{
    width: 304px;
    height: 150px;
    background: rgb(53,152,219);
    float: left;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(53,152,219);
}

.overview .sub-overview-2 p{
    font-size: 20px;
    color: #ffffff;
    font-weight: bolder;
    margin: 8px 0 0 8px;
}

.overview .sub-overview-2 .img-content{
    text-align: right;
    padding-top: 26px;
}

.overview .sub-overview-2 img{
    width: 92px;
    height: 92px;
}

.overview .sub-overview-3{
    width: 304px;
    height: 150px;
    background: rgb(154,89,181);
    float: left;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(154,89,181);
}

.overview .sub-overview-3 p{
    font-size: 20px;
    color: #ffffff;
    font-weight: bolder;
    margin: 8px 0 0 8px;
}


.overview .sub-overview-3 .img-content{
    text-align: right;
    padding-top: 26px;
}

.overview .sub-overview-3 img{
    width: 92px;
    height: 92px;
}


/****************************************
Body Section
*****************************************/
.main-body{
    width: 1520px;
    height: 184.1875rem;
    margin-top: 16px;
}

.scatter-R{
    width: 1472px;
    height: 512px;
    margin: 0 auto;
}

.scatterLayout{
    width: 530px;
    height: 512px;
    background: #ffffff;
    float: left;
    box-shadow: 0 0 10px #ccc;
}

.scatterLayout .scatter-desc{
    background: #ffffff;
    width: 530px;
    height: 95px;
}

.desc-title{
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
}

.scatterLayout .scatter-desc .desc-content{
    margin-left: 24px;
}

.scatterLayout .linkage{
    width: 530px;
    height: 50px;
    background-color: #555555;
    line-height: 50px;
    text-align: center;
}

.linkage button{
    width: 53px;
    height: 28px;
    line-height: 25px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.linkage button + button{
    margin-left: 8px;
}

.linkage button:hover{
    background-color: #f44336;
}

.linkage button a{
    color: black;
    font-weight: bold;
}

.colorChange{
    background-color: red;
}


.scatter{
    width: 530px;
    height: 350px;
    border-style: none;
}

.R-layout{
    height: 512px;
    width: 922px;
    background: #ffffff;
    float: left;
    margin-left: 20px;
    box-shadow: 0 0 10px #ccc;
}

.R{
    height: 512px;
    width: 100%;
    border-style: none;
}

.nine-one-one{
    width: 1472px;
    height: 450px;
    float: left;
    display: block;
    margin: 16px 0 0 24px;
}

.j-tableau-layout{
    width: 54.5%;
    height: 450px;
    background-color: #ffffff;
    float: left;
    box-shadow: 0 0 10px #ccc;
}

.j-tableau{
    width: 100%;
    height: 100%;
    border-style: none;
}

.explanation{
    width: 648px;
    height: 450px;
    background-color: #ffffff;
    float: left;
    margin: 0 0 0 20px;
    box-shadow: 0 0 10px #ccc;
}

.sub-explanation-1{
    width: 100%;
    height: 47.3%;
    border-bottom: 8px solid #555555;
}

#arrow-1{
    border: 20px solid #fff;
    border-top-color: #008CBA;
    width: 0;
    height: 0;
    float: right;
}

.explanation-content-1{
    width: 65%;
    height: 200px;
    float: left;
    margin: 8px 5px 0 22px;
}

.explanation-content-1 p{
    margin-top: 6px;
}

.sub-explanation-1 img{
    width: 160px;
    height: 120px;
    padding-top: 32px;
    padding-left: 16px;
}

.sub-explanation-2{
    margin-top: 1rem;
    width: 100%;
    height: 210px;
    float: right;
}

#arrow-2{
    border: 20px solid #fff;
    border-left-color: #008CBA;
    width: 0;
    height: 0;
    float: left;
}

.explanation-content-2{
    width: 590px;
    height: 210px;
    float: left;
}

.explanation-content-2 p{
    margin-top: 10px;
}

.weather-and-others{
    width: 1472px;
    height: 1330px;
    display: inline-block;
    margin: 16px 0 0 24px;
}

.boxplot{
    width: 383px;
    height: 1330px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #ccc;
    float: left;
}

.boxplot-btn{
    width: 100%;
    height: 50px;
    background-color: #555555;
    text-align: center;
    line-height: 45px;
}

.boxplot-btn button{
    width: 40%;
    height: 30px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.boxplot-btn button + button{
    margin-left: 20px;
}

.boxplot-btn button:hover{
    background-color: #f44336;
}

.boxplot-btn button a{
    color: black;
    font-weight: bold;
}

.boxplot-iframe{
    width: 100%;
    height: 1280px;
    border: none;
}

.real-boxplot{
    width: 1070px;
    height: 360px;
    float: right;
}

.real-boxplot-desc{
    width: 535px;
    height: 360px;
    float: left;
}

.boxplot-desc-1{
    width: 100%;
    height: 70%;
    box-shadow: 0 0 10px #ccc;
    background-color: #ffffff;
}

#arrow-3{
    border: 20px solid #fff;
    border-left-color: #008CBA;
    width: 0;
    height: 0;
    float: left;
}

.boxplot-desc-content-1{
    width: 92.5%;
    height: 100%;
    float: right;
}

.boxplot-desc-content-1 p{
    padding-top: 4.8px;
}

.boxplot-desc-content-1-title{
    font-weight: bold;
}

.boxplot-desc-2{
    width: 100%;
    height: 25.5%;
    box-shadow: 0 0 10px #ccc;
    margin-top: 16px;
    background-color: #ffffff;
}

#arrow-4{
    border: 20px solid #fff;
    border-right-color: #008CBA;
    width: 0;
    height: 0;
    float: right;
}

.boxplot-desc-content-2{
    width:92.5%;
    height: 100%;
    float: left;
}

.boxplot-desc-content-2 p{
    padding-top: 12.8px;
    margin-left: 24px;
}

.real-boxplot-graph{
    width: 512px;
    height: 360px;
    float: right;
    box-shadow: 0 0 10px #ccc;
    background-color: #ffffff;
}

.real-boxplot-iframe{
    width: 512px;
    height: 360px;
    border: none;
}

.line-graph{
    width: 1070px;
    height: 71.5%;
    float: right;
    margin-top: 19.2px;
}

.line-graph .line-graph-1{
    width: 49%;
    height: 65%;
    background-color: #ffffff;
    box-shadow: 0 0 10px #ccc;
    float: left;
}

.weather-iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.line-graph .line-graph-2{
    width: 49%;
    height: 65%;
    background-color: #ffffff;
    box-shadow: 0 0 10px #ccc;
    float: right;
}


.piechart{
    width: 60%;
    height: 33.5%;
    background-color: #ffffff;
    float: left;
    margin-top: 15.2px;
    box-shadow: 0 0 10px #ccc;
}

.pc{
    width: 80%;
    height: 100%;
    display: inline-block;
    float: right;
}

.pc-btn{
    width: 19%;
    height: 100%;
    background: #555555;
    float: left;
}

.pc-btn button{
    width: 80%;
    height: 13%;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    text-align: center;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.pc-btn button:hover{
    background-color: #f44336;
}

.pc-btn button a{
    color: black;
    font-weight: bold;
}

.pc-iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.chart-desc{
    width: 38.5%;
    height: 33.5%;
    float: right;
    margin-top: 15.2px;
    box-shadow: 0 0 10px #ccc;
}

.line-chart-desc{
    width: 100%;
    height: 56%;
    box-shadow: 0 0 10px #ccc;
    background-color: #ffffff;
}

.line-chart-desc h3{
    padding: 9.6px 0 0 12.8px;
}
.line-chart-desc p{
    padding: 3.2px 4.8px 0 12.8px;
}

.pc-desc-content{
    width: 85%;
    height: 100%;
    float: right;
    margin-right: 12.8px;
}

.pc-desc-content p{
    margin-top: 4.8px;
    padding-top: 4.8px;
}

#arrow-5{
    border: 17px solid #fff;
    border-top-color: #008CBA;
    width: 0;
    height: 0;
    float: right;
}

.piechart-desc{
    width: 100%;
    height: 39%;
    margin-top: 16px;
    box-shadow: 0 0 10px #ccc;
    background-color: #ffffff;
}

#arrow-6{
    border: 17px solid #fff;
    border-left-color: #008CBA;
    width: 0;
    height: 0;
    float: left;
}

.tableau-layout{
    width: 1472px;
    height: 600px;
    background: #ffffff;
    display: inline-block;
    margin-top: 16px;
    margin-left: 24px;
    box-shadow: 0 0 10px #ccc;
}

.tableau{
    width: 100%;
    height: 100%;
    border-style: none;
}

footer{
    width: 100%;
    height: 48px;
    background: rgb(63,63,63);
    margin-top: 16px;
    box-shadow: 0 0 10px #ccc;
}

footer p{
    line-height: 48px;
    text-align: center;
    color: #ffffff;
}